.todo-filter {
    position: relative;
    width: 100%;
    display: flex;
    padding: 15px 55px 15px 20px;
    line-height: 0.8;
    font-size: 18px;
    font-weight: 200;
    width: 502px;
    min-height: 30px;
    box-shadow: inset 1px 0px 0px 0px rgb(20% 0 0 / 20%);
    border-bottom: 1px solid rgb(233, 231, 231);
    background-color: white;
}

.numbers-left-todo {
    width: 150px;
    margin-right: 10px;
    margin-top: 8px;
}


.filter-buttons {
    display: flex;
    position: relative;
    left: 0%;
}

.filter-button {
    position: relative;
    left: 10px;
    border-width: 0;
    background: transparent;
    outline-width: 0px;
    margin-right: 15px;
    border-color: white;
    color: rgb(161, 159, 159);
    border-radius:5px;
    background-color: white;
}



.filter-button:hover {
    border-width: 1px;
    border-color: rgb(216, 144, 156);
}

.clear-completed {
    border-width: 0px;
    position: absolute;
    right: 20px;
    margin-top: 7px;
    color: rgb(161, 159, 159);
    background-color: white;
}


.clear-completed:hover {
    color: rgb(114, 110, 110);
    background-color: white;
    border-width: 0px;
    position: absolute;
    right: 20px;
    text-decoration: underline;
}