.todo-filter {
    position: relative;
    width: 100%;
    display: flex;
    padding: 15px 55px 15px 20px;
    line-height: 0.8;
    font-size: 18px;
    font-weight: 200;
    width: 502px;
    min-height: 30px;
    max-height: 30px;
    box-shadow: inset 1px 0px 0px 0px rgb(20% 0 0 / 20%);
    border-bottom: 1px solid rgb(233, 231, 231);
    background-color: white;
}

.numbers-left-todo {
    width: 150px;
    position: relative;
    bottom: 10px;
    margin-right: 10px;
}

.clear-completed {
    border-width: 0px;
    position: relative;
    left: 60px;
    margin-top: 0px;
    color: rgb(161, 159, 159);
    background-color: white;

}


.clear-completed:hover {
    color: rgb(114, 110, 110);
    background-color: white;
    border-width: 0px;
    position: relative;
    left: 60px;
    text-decoration: underline;
}